.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fab564;
}

.header span {
  color: #fc6c4c;
  padding-left: 10px;
}
