* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
  background-color: #f2f4fb;
}

.App {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  margin-top: 20px;
}

.product_Container {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 750px) {
  .products {
    grid-template-columns: 1fr;
  }
}
